.logo {
    margin-left: 8em;
}
.carousel-item {
    filter:brightness(0.5);
    justify-content: center;
    justify-items: baseline;
    bottom: 25%;
    margin-top: 4em;
}
.caption-right{
    position:absolute;
    top:50%;
    right:5%;
    size: 500px;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
}
#carouse {
    height: 650px;
}
#caption {
    width: 450px;
    position:absolute;
    top:30%;
    right:0%;
    size: 500px;
}
#buton{
    position:absolute;
    top:70%;
    right:0%;
    size: 500px;
}
u {    
    border-bottom: 1px dotted #000;
    text-decoration: none;
}
#form {
    width: 38rem;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 340px;
}

#footer {
  background-color: #1d3a4a;
  margin-top: 1rem;
}

.lightgreen{
    background-color: rgba(150,202,62,255) !important;
    border: 0ch;
}
.green{
    background-color: rgba(41,167,68,255) !important;
}
.twolines{
    font-size: smaller !important;
    width: 12em !important;
    padding-right: 2em !important;
    padding-left: 2em !important;
    text-align: center !important;
}
